@tailwind base;
@tailwind components;
@tailwind utilities;



/* global landing movie */ 

.landing-movie {
  background-image: url("../../public/assets/images/9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*box-shadow: 0 10px 20px 20px #040720;*/
  @apply bg-center;
  @apply  md:bg-top;
  @apply h-screen;
}
.shadow {
  box-shadow: 0 -55px 40px 0px #190020;
}




