@import url("@mdi/font/css/materialdesignicons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* global landing movie */

.landing-movie {
    background-image: url("../../public/assets/images/9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*box-shadow: 0 10px 20px 20px #040720;*/
    @apply bg-center;
    @apply md:bg-top;
    @apply h-screen;
}

.shadow {
    box-shadow: 0 -55px 40px 0px #190020;
}

.movie-card {
    background-repeat: no-repeat;
    background-size: cover;
    @apply bg-top;

}

/* expanding search input*/

.search-box {
    position: relative;
    background: transparent;
    height: 51px;
    width: 40px;
    transition: 0.4s;
    border: 1px solid;
    @apply border-nearWhite-200;
    @apply md:rounded-r-md;
    @apply w-32 md:w-10

}

.search-box:hover {

    @apply w-44 sm:w-56  md:w-72

}

.hover-box {
    width: 300px !important;
}

.hover-box > .search-text {
    width: 240px !important;
}

.search-box:hover > .search-text {
    width: 240px;


}

/*.search-btn {*/
/*    color: black;*/
/*}*/

.search-btn {
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 40px;
    height: 40px;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;

}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-top: 3px;
    color: white;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

    /*   width: 250px; */


}







